@media screen and (min-width: 1440px) {   
    .container {
        width: 85%;
    }
}
@media screen and (max-width: 1110px) and (min-width: 1024px){

}

@media screen and (max-width: 1024px) and (min-width: 768px) and (orientation: landscape){
    h2 {
        font-size: 4.5rem;
    }
    h4 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) and (orientation: portrait){
    h1.big {
        font-size: 10rem;
    }
    h2 {
        font-size: 4.5rem;
    }
    [class*="col-"].float-right {
        float: none;
    }
    .full-image img {
        width: 100vw;
        height: 50vh;
        object-fit: none;
    }
    #homepage_produits-section .col-md-6{
        height: 50%;
    }
    #homepage_produits-section ul {
        top: 75%;
        width: 100%;
        right: 0;
        left: 0;
    }
    #homepage_produits-section .caption-icon {
        display: none;
    }
    #homepage_entreprise-section .card p {
        margin-bottom: 3em;
    }
    #homepage_commentaires-section .commentaires-content .commentaires-name {
        margin-top: 2.5%;
    }
    #homepage_commentaires-section .note {
        margin-bottom: 5em;
    }
    #homepage_commentaires-section .note .note-star {
        margin-top: 0;
    }
    #homepage_galerie-photo-section .galerie-slideshow {
        height: 270px;
    }


    #produits_header-section .ancre-to-fiche-produit {
        margin-bottom: 20px;
    }
    #produits_fiches-produits-section .produits_fiches-produits__img {
        height: 110px;
    }
    #produits_fiches-produits-section .produits_fiches-produits__block {
        padding: 4% 30px;
    }
    #footer ul li {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {  
    html {
        padding-right: 0px !important;
        overflow: visible !important;
    }
    h1.big {
        font-size: 5.5rem;
    }
    h1 {
        font-size: 4.5rem;
        padding: 0px 30px;
    }
    h2 {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 3rem;
    }
    .button {
        margin-top: 1em;
    }
    .navbar {
        height: 100%;
    }
    .navbar .navbar-icon {
        display: block;
        margin: auto;
        float: left;
    }
    .content {
        position: relative;
        top: 0;
        transform: translateY(0%);
        -ms-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }
    .full-image {
        position: relative;
    }
    .full-image img {
        width: 100%;
        height: auto;
    }
    .fp-section.fp-table, 
    .fp-slide.fp-table,
    .fp-tableCell {
       height: 100% !important;
       display: block;
        overflow: hidden;
        table-layout: inherit;
    }
    .header-img-page {
        position: relative;
    }
    .header-img-page img.background {
        height: 100%;
        width: auto;
    }
    #homepage_header-section .header-title {
        position: relative;
        top: 0;
        transform: translateY(0%);
        -ms-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        margin: 40% 0;
    }
    #homepage_header-section .header-caption {
        position: relative;
        top: 0;
        transform: translateY(0%);
        -ms-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -webkit-transform: translateY(0%);        
    }
    #homepage_produits-section .content{
        margin: 15% 0;
    }
    #homepage_produits-section .navbar-middle .navbar-icon,
    #homepage_produits-section .caption-icon,
    #homepage_produits-section ul {
        display: none;
    }
    #homepage_produits-section p {
        margin-top: 1em;
        padding: 0 5%;
    }
    #homepage_entreprise-section .card img {
        width: 130px;
    }
    #homepage_entreprise-section .content {
        padding: 15% 0 25% 0;
    }
    #homepage_entreprise-section .card p {
        margin: 10px 0 20px 0;
        line-height: 1.4;
    }
    #homepage_commentaires-section .commentaires-content .commentaires-name {
        margin-top: 2.5%;
    }
    #homepage_commentaires-section .note {
        margin-bottom: 10%;
    }
    #homepage_commentaires-section .note .note-star {
        margin-top: 5px;
    }
    #homepage_galerie-photo-section .galerie-txt {
        margin-bottom: 60%;
        margin-top: 10%;
    }

    #produits_fiches-produits-section .produits_fiches-produits__block {
        padding: 6% 30px;
    }
    #produits_fiches-produits-section .title-center.in-section {
        margin-top: 8%;
    }
    #footer h5 {
        margin-bottom:10px;
        margin-top: 30px;
    }
    #footer ul li {
        padding-bottom: 5px;
    }
}