@media screen and (min-width: 1440px) {   
    .container {
        width: 85%;
    }
}
@media screen and (max-width: 1110px) and (min-width: 1024px){

}

@media screen and (max-width: 1024px) and (min-width: 768px) and (orientation: landscape){
    h2 {
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) and (orientation: portrait){
    h1.big {
        font-size: 10rem;
    }
    h2 {
        font-size: 4.5rem;
    }
    [class*="col-"].float-right {
        float: none;
    }
    .full-image img {
        width: 100vw;
        height: 50vh;
        object-fit: none;
    }
    #homepage_produits-section .col-md-6{
        height: 50%;
    }
    #homepage_produits-section ul {
        top: 75%;
        width: 100%;
        right: 0;
        left: 0;
    }
    #homepage_produits-section .caption-icon {
        display: none;
    }
    #homepage_entreprise-section .card p {
        margin-bottom: 3em;
    }
    #homepage_commentaires-section .commentaires-content .commentaires-name {
        margin-top: 2.5%;
    }
    #homepage_commentaires-section .note {
        margin-bottom: 5em;
    }
    #homepage_commentaires-section .note .note-star {
        margin-top: 0;
    }
    #homepage_galerie-photo-section .galerie-slideshow {
        height: 270px;
    }
    #footer ul li {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {  
    html {
        padding-right: 0px !important;
        overflow: visible !important;
    }
    h1.big {
        font-size: 5.5rem;
    }
    h2 {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 3rem;
    }
    .button {
        margin-top: 1em;
    }
    #homepage_produits-section .col-md-6{
        height: 50%;
    }
    #homepage_produits-section ul {
        top: 75%;
        width: 100%;
        right: 0;
        left: 0;
    }
    #homepage_produits-section .caption-icon {
        display: none;
    }
    #homepage_produits-section p {
        margin-top: 1em;
        padding: 0 5%;
    }
}