@font-face {
    font-family: 'HelveticaNeue';
    src: url("../fonts/HelveticaNeueLT-Roman.eot");
    src: url("../fonts/HelveticaNeueLT-Roman.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/HelveticaNeueLT-Roman.woff") format("woff"), 
    url("../fonts/HelveticaNeueLT-Roman.woff2") format("woff2"), 
    url("../fonts/HelveticaNeueLT-Roman.ttf") format("truetype"),
    url('../fonts/HelveticaNeueLT-Roman.svg') format('svg');
}
@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url("../fonts/HelveticaNeueLT-Bold.eot");
    src: url("../fonts/HelveticaNeueLT-Bold.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/HelveticaNeueLT-Bold.woff") format("woff"), 
    url("../fonts/HelveticaNeueLT-Bold.woff2") format("woff2"), 
    url("../fonts/HelveticaNeueLT-Bold.ttf") format("truetype"),
    url('../fonts/HelveticaNeueLT-Bold.svg') format('svg');
}
@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url("../fonts/HelveticaNeueLT-Light.eot");
    src: url("../fonts/HelveticaNeueLT-Light.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/HelveticaNeueLT-Light.woff") format("woff"), 
    url("../fonts/HelveticaNeueLT-Light.woff2") format("woff2"), 
    url("../fonts/HelveticaNeueLT-Light.ttf") format("truetype"),
    url('../fonts/HelveticaNeueLT-Light.svg') format('svg');
}
@font-face {
    font-family: 'Novecentosanswide-Bold';
    src: url("../fonts/Novecentosanswide-Bold.eot");
    src: url("../fonts/Novecentosanswide-Bold.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Novecentosanswide-Bold.ttf") format("truetype"),
    url('../fonts/Novecentosanswide-Bold.otf') format('truetype'),
    url('../fonts/Novecentosanswide-Bold.svg') format('svg');
}
@font-face {
    font-family: 'Novecentosanswide-Book';
    src: url("../fonts/Novecentosanswide-Book.eot");
    src: url("../fonts/Novecentosanswide-Book.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Novecentosanswide-Book.ttf") format("truetype"),
    url('../fonts/Novecentosanswide-Book.otf') format('truetype'),
    url('../fonts/Novecentosanswide-Book.svg') format('svg');
}
@font-face {
    font-family: 'Novecentosanswide-DemiBold';
    src: url("../fonts/Novecentosanswide-DemiBold.eot");
    src: url("../fonts/Novecentosanswide-DemiBold.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Novecentosanswide-DemiBold.ttf") format("truetype"),
    url('../fonts/Novecentosanswide-DemiBold.otf') format('truetype'),
    url('../fonts/Novecentosanswide-DemiBold.svg') format('svg');
}
@font-face {
    font-family: 'Novecentosanswide-Medium';
    src: url("../fonts/Novecentosanswide-Medium.eot");
    src: url("../fonts/Novecentosanswide-Medium.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Novecentosanswide-Medium.ttf") format("truetype"),
    url('../fonts/Novecentosanswide-Medium.otf') format('truetype'),
    url('../fonts/Novecentosanswide-Medium.svg') format('svg');
}
@font-face {
    font-family: 'Parisienne-Regular';
    font-weight:100;
    src: url("../fonts/Parisienne-Regular.eot");
    src: url("../fonts/Parisienne-Regular?.eot#iefix") format("embedded-opentype"), 
    url("../fonts/Parisienne-Regular.ttf") format("truetype"),
    url('../fonts/Parisienne-Regular.woff') format('woff'),
    url('../fonts/Parisienne-Regular.woff2') format('woff2');
    letter-spacing: -0.1px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
html {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica';
    font-size: 15px;
    overflow: hidden!important;
}
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Novecentosanswide-Bold';
    font-size: 124px;
    color: #fff;
    letter-spacing:4px;
}
h2 {
    font-family: 'Novecentosanswide-Medium';
    font-size: 34px;
    color: #fff;
    letter-spacing: 2px;
}
h3{
    text-align: center;
    color: #333333;
    font-size: 60px;
    font-family: 'Novecentosanswide-Bold';
    letter-spacing: 2px;
}
h4 {
    font-size: 42px;
    color: #333333;
    text-transform: uppercase;
    font-family: 'Novecentosanswide-Bold';
    text-align: center;
    letter-spacing: 1.5px;
}
h5 {
    font-size: 24px;
    font-family: 'Novecentosanswide-Bold';
    color: #333333;
    letter-spacing: 1.5px;
}
h6 {
    font-size: 17px;
    font-family: 'Novecentosanswide-Bold';
    color: #333333;
    letter-spacing: 1.5px;
}
p {
    font-family: 'HelveticaNeue-Light';
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 2;
}
ul,li {
    list-style: none;
    padding: 0;
    margin: 0;
    letter-spacing: 1.5px;
}
a, a:hover{
    text-decoration:inherit;
    color: inherit;
    letter-spacing: 1.5px;
}
a img {
    border: none;
  }
img {
    width: auto;
    height: auto;
}
[class*="col-"]{
    height: 100%;
    overflow: hidden;
}
.row {
    height: 100%;
    display: block;
    overflow: hidden;
}
.button {
    display: inline-block;
    font-family: 'HelveticaNeue-Light';
    border: 1px solid #000;
    font-size: 16px;
    margin-top: 3.5em;
    background-color: #fff;
    transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    position: relative;
}
.button:before {
    content: "";
    background-color: #000;
    width: 0%;
    position: absolute;
    left: 0;
    margin: auto;
    height: 100%;
    top: 0;
    transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
.button a {
    padding: 10px 30px;
    display: block;
    position: relative;
    z-index: 1;
}
.button:hover:before {
    content: "";
    background-color: #000;
    width: 100%;
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
}
.button:hover a {
    color: #fff;
    transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.only-mobile {
    display: none;
}
.content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    width:100%;
    z-index: 1;
}
.container {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100%;
}
.container.visible {
    overflow: visible;
}
.col-h-6 {
    height: 50%;
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
}
.navbar {
    width: 100%;
    position: absolute;
    height: 60px;
    display: block;
    z-index: 10;
    overflow: hidden;
    transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    padding-top: 20px;
}
.color1 {
    color: #23b2c2;
}
.color2 {
    color: #fdac57;
}
.full-image{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    height: 100%;
}
.full-image img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.navbar.sticky {
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    height: 43px;
    padding-top: 0px;
    box-shadow: 0 0px 5px #999;
}
.navbar .navbar-icon {
    display: table;
    margin: auto;
    text-align: center;
    position: relative;
    width: 35px;
    height: 100%;
}
.navbar .navbar-icon a {
    width: 35px;
    height: 35px;
    display: table-cell;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}
.navbar .navbar-icon a img {
    height: 33px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.navbar .navbar-icon a:hover img {
    animation: moveTheWave 1.7s linear infinite;  
	animation-fill-mode: both;
}
@keyframes moveTheWave {
  0% { transform: translate3d(0, 0, 0);}
  100% { transform: translate3d(-60px, 0, 0); }
}
.navbar .navbar-icon object {
    height: 100%;
    padding: 5px;
}
.navbar .navbar-icon svg {
    margin: 0 auto;
    overflow: hidden;
    display: block;
    position: relative;
    line-height: 60px;
    height: 100%;
    cursor: pointer;
    z-index: 99;
}
.navbar ul {
    height: 100%;
    display: table;
    width: 100%;
}
.navbar ul li{
    color: #fff;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'HelveticaNeue';
    font-size: 14px;
    text-align: center;
    width: auto;
}
.navbar ul li.active a {
    border-bottom: 1px solid #fff;
    padding-bottom: 4px;
}
.menu-responsive {
    display: none;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    width: 55%;
    top: 0;
    bottom: 0;
    left: -55%;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.menu-responsive.active {
    left: 0;
}
.menu-responsive img {
    width: 17px;
    height: 17px;
    position: absolute;
    margin-left: 2em;
    margin-top: 2em;
    background-size: cover;
}
.menu-responsive ul.menu {
    float: left;
    margin: 6em 2em 2em 2em;
}
.menu-responsive ul li {
    display: inline-block;
    height: auto;
    text-align: left;
    margin-bottom: 25px;
    font-size: 13px;
}
.fp-scroller{

}
#fp-nav.right {
    right: 0;
    margin-top: 0 !important;
    background-color: #252525;
    width: 50px;
    height: 100%;
    top: 0;
    z-index: 9999;
}
#fp-nav .fp-nav__dot {
    position: absolute;
    top: 50%;
    left: 12px;
    right: 12px;
    transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    height: auto;
    padding: 15px 0;
    border-top: dotted 1px #fff;
    border-bottom: dotted 1px #fff;
}
#fp-nav ul li .fp-tooltip {
    font-family: 'HelveticaNeue';
    opacity: 1;
    width: 100%;
    color: #000;
    background-color: #fff;
    padding: 7px 50px 7px 10px;
    line-height: 1.3;
    font-size: 13px;
    position: relative;
    height: 100%;
    display: table;
    top: -22px;
    text-align: left;
    float: right;
    z-index: 10;
    margin-top: -6px;
    box-shadow: 0px 0px 3px rgba(3,3,3,0.5)
}
#fp-nav ul li .fp-tooltip:before {
    content:"";
    height: 9px;
    width: 9px;
    background-color: #252525;
    position: absolute;
    right: 16px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#fp-nav ul li .fp-tooltip.right {
    right: -500px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
#fp-nav ul li:hover .fp-tooltip, 
#fp-nav ul li.anim .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    right: -7px
}
#fp-nav ul li, 
.fp-slidesNav ul li {
    width: 100%;
    height: 25px;
    padding: 0px 0px;
    margin: 0 auto;
    display: inline-block;
}
#fp-nav ul li a span, 
.fp-slidesNav ul li a span,
#fp-nav ul li:hover a span, 
.fp-slidesNav ul li:hover a span,
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    height: 10px;
    width: 10px;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #fff;
    background: transparent;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
}
#fp-nav .fp-nav__social {
    margin-top: 20px;
}
#fp-nav .fp-nav__social img {
    width: 15px;
    margin: 15px auto;
    display: block;
    cursor: pointer;
}
#fp-nav .fp-nav__social ul li {
    height: 16px;
    margin: 5px auto;
}
#fp-nav .fp-nav__social ul li img {
    width: 16px;
    margin: auto;
    display: block;
    cursor: pointer;
}
#fp-nav .fp-nav__social ul li.wave-icon {
    display: table;
    margin: auto;
    text-align: center;
    position: relative;
    width: 25px;
    height: 100%;
    margin-bottom: 15px;
}
#fp-nav .fp-nav__social ul li.wave-icon a {
    width: 25px;
    height: 25px;
    display: table-cell;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}
#fp-nav .fp-nav__social ul li.wave-icon a img {
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: auto;
}
#fp-nav .fp-nav__social li:hover .fp-tooltip {
    right: 5px;
}
#fp-nav .fp-nav__social ul li .fp-tooltip {
    margin-top: -1px;
}
#fp-nav .fp-nav__social ul li .fp-tooltip.right:before {
    height: 16px;
    width: 16px;
    background-color: transparent;
    position: absolute;
    right: 13px;
    border-radius: 0%;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#fp-nav .fp-nav__social ul li .fp-tooltip.right.phone:before {
    background: url(../img/phone-hover.svg);
}
#fp-nav .fp-nav__social ul li .fp-tooltip.right.mail:before {
    background: url(../img/mail-hover.svg);
}
#fp-nav .fp-nav__social ul li .fp-tooltip.right.placement {
    font-size: 12px;
}
#fp-nav .fp-nav__social ul li .fp-tooltip.right.placement:before {
    background: url(../img/placement-hover.svg);
    top: 7px;
    transform: translateY(-0%);
    -ms-transform: translateY(-0%);
    -moz-transform: translateY(-0%);
    -webkit-transform: translateY(-0%);
}


#fp-nav .fp-nav__arrow.arrow-top,
#fp-nav .fp-nav__arrow.arrow-bottom  {
    height: 35px;
    overflow: hidden;
    transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
#fp-nav .fp-nav__arrow img {
    width: 13px;
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
#fp-nav .fp-nav__arrow.inactive {
    height: 0px;
}


.title-center {
    margin-top: 10%;
    position: relative;
}
.title-center.title-margin-light {
    margin-top: 5%;
}
.title-center h4 {
    z-index: 1;
    position: absolute;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 35px;
    font-size: 33px;
}
.title-center h4 span {
    text-align: center;
    color: #2d2d2d;
    font-size: 50px;
    font-family: 'Parisienne-Regular';
    font-weight: 100;
    letter-spacing: -0.1px;
    line-height: 1;
    text-transform: initial;
}
.title-center:before {
    content:"";
    height: 1px;
    width: 100%;
    background-color: #d0d0cf;
    position: absolute;
    top: 50%;
}
.title-center.in-section {
    position: relative;
    margin-top: 0%;
    margin-bottom: 3%;
}
.title-center.in-section h4{
    position: relative;
    left: auto;
    transform: inherit;
    padding: 0px 35px;
}
.title-center.in-section:before{
    content: "";
    height: 1px;
    width: 1000%;
    background-color: #d0d0cf;
    position: absolute;
    top: 50%;
    left: -100%;
}


/* Top Header Section Page
* --------------------------------------- */
.header-img-page {
    width: 100%;
    height: 0;
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 20%;
}
.header-img-page img.background {
    display: block;
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 1;
    transition: transform 5.2s linear, opacity 1.5s;
    -ms-transition: transform 5.2s linear, opacity 1.5s;
    -moz-transition: transform 5.2s linear, opacity 1.5s;
    -webkit-transition: transform 5.2s linear, opacity 1.5s;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    background-color: #fff;
}
.header-img-page img.background.active {
    opacity: 1;
    transform: scale(1.15);
}
.header-img-page:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.header-img-page .header-title {
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    -moz-transform: translateY(-55%);
    -webkit-transform: translateY(-55%);
    z-index: 4;
    margin: auto;
    text-align: center;
}
.header-img-page .header-title h1 {
    font-size: 85px;
}

/* Section 1
* --------------------------------------- */
#homepage_header-section .full-background {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    overflow: hidden;
}
#homepage_header-section .full-background img.background {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    transition: transform 5.2s linear, opacity 1.5s;
    -ms-transition: transform 5.2s linear, opacity 1.5s;
    -moz-transition: transform 5.2s linear, opacity 1.5s;
    -webkit-transition: transform 5.2s linear, opacity 1.5s;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    background-color: #fff;

}
#homepage_header-section .full-background img.background.active {
    opacity: 1;
    transform: scale(1.15);
}
#homepage_header-section .full-background:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
#homepage_header-section .header-title {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    z-index: 4;
    margin: auto;
    text-align: center;
}
#homepage_header-section .header-title h1 {
    line-height: 1;
}
#homepage_header-section .header-title h3 span {
    font-family: 'HelveticaNeue-Light';
    font-weight: 300;
    line-height: 1;
    font-size: 40px;
}
#homepage_header-section .header-title h3 {
    font-family: 'Parisienne-Regular';
    font-size: 44px;
    color: #fff;
    font-weight: 100;
    line-height: 2;
    letter-spacing: -0.1px;
}
#homepage_header-section .header-title span {
    animation-delay: 3s;
    animation-name: big;
}

@keyframes big {
    from {
        margin-left: 100%;
        width: 300%; 
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
  }
#homepage_header-section .header-caption {
    position: absolute;
    bottom: 0%;
    width: 100%;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    height: 7em;
    z-index: 4;
}
#homepage_header-section .header-caption [class*="col-"],
#homepage_header-section .header-caption .row  {
    height: 100%;
    display: block;
}
#homepage_header-section .header-caption .caption-logo img{
    width: 70%;
}
#homepage_header-section .header-caption .caption-txt {
    border-left: 1px solid #fff;
    padding-left: 10%;
    height: 100%;
}
#homepage_header-section .header-caption .caption-txt p {
    font-family: 'HelveticaNeue-Light';
    color: #fff;
    line-height: 1.7;
}
#homepage_header-section .header-caption .caption-icon {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
#homepage_header-section .header-caption .caption-icon img{
    width: 45px;
    float: right;
    position: relative;
 
}
#homepage_header-section .header-caption .caption-icon img.anim {
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes bounce {
    0% {
        top: 0px;
    }
    50% {
        top: -10px;
    }
    100% {
        top: 0px;
    }
}

/* 
* --------------------------------------- */
#homepage_entreprise-section .card {
    width: 100%;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 1.8em;
}
#homepage_entreprise-section .card .card-unit {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}
#homepage_entreprise-section .card img {
    width: 145px;
}
#homepage_entreprise-section .card h4 {
    font-family: 'HelveticaNeue';
    font-size: 16px;
    color: #000;
    margin-top: 10px;
}
#homepage_entreprise-section .card p {
    font-family: 'HelveticaNeue-Light';
    font-style: italic;
    padding: 0;
    margin: 0;
    font-size: 14px;
    margin-top: 2px;
}

/* 
* --------------------------------------- */
#homepage_produits-section h3{
    text-align: center;
    color: #2d2d2d;
    font-size: 59px;
    font-family: 'Parisienne-Regular';
    font-weight: 100;
    letter-spacing: -0.1px;
    line-height: 1;
}
#homepage_produits-section h4{
    font-family: 'Novecentosanswide-Bold';
    font-size: 60px;
    line-height: 1;
}
#homepage_produits-section p{
    text-align: center;
    padding: 0px 15%;
    margin-top: 2em;
    margin-bottom: 0.5em;
}
#homepage_produits-section .caption-icon {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 10%;
    width: 55px;
    height: auto;
}
#homepage_produits-section .caption-icon img{
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}
#homepage_produits-section .navbar-middle .navbar-icon {
    height: 60px;
    width: 60px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 20;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#homepage_produits-section .navbar-middle .navbar-icon.color1 {
    background-color: #23b2c2;
}
#homepage_produits-section .navbar-middle .navbar-icon.color2 {
    background-color: #fdac57;
}
#homepage_produits-section .navbar-middle .navbar-icon object {
    margin: auto;
    display: block;
    height: 100%;
    padding: 12px;
}
#homepage_produits-section ul {
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 48.5%;
    padding-left: 4%;
    padding-right: 4%;
    text-align: center;
}
#homepage_produits-section ul.pull-right {
    right: 0%;
}
#homepage_produits-section ul li{
    font-family: 'HelveticaNeue';
    color: #fff;
    text-align: center;
    display: inline-block;
    padding-right: 9%;
    position: relative;
}
#homepage_produits-section ul li:last-child {
    padding-right: 0;
}
#homepage_produits-section ul li a {
    padding-bottom: 5px;
    position: relative;
}
#homepage_produits-section ul li a:after {
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
#homepage_produits-section ul.color1 li a:after{
    border-bottom: 2px solid #23b2c2;
}
#homepage_produits-section ul.color2 li a:after{
    border-bottom: 2px solid #fdac57;
}
#homepage_produits-section ul li a:hover:after {
    content:"";
    width: 100%;
}

/* 
* --------------------------------------- */
#homepage_commentaires-section .commentaires-content p{
    position: relative;
    padding: 0px 30px;
    color: #6e6c6c;
}
#homepage_commentaires-section .commentaires-content p span.quote-open{
    background-image: url(../img/quote-open.png);
    width: 26px;
    height: 19px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 10px;
}
#homepage_commentaires-section .commentaires-content p span.quote-close{
    background-image: url(../img/quote-close.png);
    width: 26px;
    height: 19px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 10px;
}
#homepage_commentaires-section .commentaires-content h6{
    position: relative;
    padding: 0px 30px;
    color: #6e6c6c;
    line-height: 2;
    
}
#homepage_commentaires-section .commentaires-content .commentaires-name {
    color:#000;
    font-size: 16px;
    margin-top: 30px;
    font-family: 'HelveticaNeue';
}
#homepage_commentaires-section .note {
    width: auto;
    height: 100%;
    display: block;
    margin: auto;
    display: table;
}
#homepage_commentaires-section .note .note-star {
    background-image: url(../img/icon-star.png);
    position: relative;
    width: 22px;
    height: 22px;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin: 0px 5px;
    margin-top: 20px;
}

/* 
* --------------------------------------- */
#homepage_galerie-photo-section .galerie-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}
#homepage_galerie-photo-section .galerie-txt {
    height: 80%;
    width: 100%;
    position: relative;
    display: block;
}
#homepage_galerie-photo-section .galerie-txt h3{
    margin-bottom:0.3em;
}
#homepage_galerie-photo-section .galerie-slideshow {
    height: 0px;
    padding-bottom: 180px;
    width: 1000%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: left 12s linear;
    -ms-transition: left 12s linear;
    -moz-transition: left 12s linear;
    -webkit-transition: left 12s linear;
}
#homepage_galerie-photo-section .galerie-slideshow-item{
   float: left; 
   position: relative;
}






#produits_header-section p {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
#produits_fiches-produits .col-md-4 .row {
    padding: 0px 30px;
}
#produits_fiches-produits img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}
#produits_fiches-produits h5 {
    text-align: left;
    text-transform: uppercase;
    padding: 15px 0;
    font-size: 20px;
}
#produits_fiches-produits p {
    text-align: left;
}


#map-section .map-iframe {
    position: relative;
    padding-bottom: 40%;
    height: 0;
}
#map-section .map-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fiche-produit .fp-tableCell {
    display: block;
}
#fiche-produit h5{
    padding-bottom: 20px;
    text-transform: uppercase;
}
#fiche-produit img {
    width: 100%;
}




.filter {
    margin-top: 7%;
}
.filter ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.filter ul li {
    font-family: 'Novecentosanswide-DemiBold';
    margin: 0 15px;
    height: 65px;
    border: 2px solid #000;
    text-align: center;
    display: table;
    transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    cursor: pointer;
}
.filter ul li a {
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 0px 35px;
}
.filter ul li.color1 {
    border:2px solid #23b2c2;
}
.filter ul li.color2 {
    border:2px solid #fdac57;
}
.filter ul li.color1:hover {
    background-color:  #23b2c2;
    color: #fff;
}
.filter ul li.color2:hover {
    background-color:  #fdac57;
    color: #fff;
}


.filter-second {
    margin-top: 0;
}
.filter-second ul {
    margin: 15px 0px;
}
.filter-second ul li {
    font-family: 'Novecentosanswide-Bold';
    height:auto;
    border: 2px solid #e0e0df;
    width: 200px;
    color: #434444;
}
.filter-second ul li a {
    padding: 10px 35px;
}
.filter-second ul li:hover {
    background-color: #e0e0df;
}


#galerie-photos ul.galerie-photo__column-image {
    display: flex;
    flex-direction: column;
}
#galerie-photos ul.galerie-photo__column-image li {
    float: left;
    display: flex;
    margin-bottom: 15px;
}
#galerie-photos ul.galerie-photo__column-image li:last-child {
    margin-bottom: 0;
}

/* Footer
* --------------------------------------- */
#footer {
    background-color: #2e2e2f;
    padding-top: 4%;
    padding-bottom: 4%;
}
#footer h6 {
    font-family: 'Novecentosanswide-Bold';
    color: #666666;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#footer ul li{
    font-family: 'HelveticaNeue-Light';
    font-size: 14px;
    color: #f5f5f5;
    padding-bottom: 18px;
}
#footer ul li a {
    position: relative;
}
#footer ul li a:after{
    content: "";
    border-bottom: 1px solid #fff;
    width: 0%;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: all 0.3s;
}
#footer ul li a:hover:after {
    width: 100%;
}
#footer p {
    font-family: 'HelveticaNeue-Light';
    font-size: 14px;
    color: #f5f5f5;
    line-height: 1.5;
}
#footer p.num {
    padding-bottom: 0px;
    padding-top: 15px;
}
#footer p.mail {
    padding-top: 15px;
}
#footer .mention-legale p{
    padding-bottom: 0;
    margin-top: 30px;
}
#footer .social-share {
    margin-top: 8px;
}
#footer .social-share li a {
    margin: auto;
    display: block;
    text-align: center;
}
#footer .social-share li a:after{
    display: none
}
#footer .social-share li img {
    margin: auto;
    display: block;
    height: 20px;
}






