@font-face {
    font-family: 'HelveticaNeue';
    src: url("../fonts/HelveticaNeueLT-Roman.eot");
    src: url("../fonts/HelveticaNeueLT-Roman.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/HelveticaNeueLT-Roman.woff") format("woff"), 
    url("../fonts/HelveticaNeueLT-Roman.woff2") format("woff2"), 
    url("../fonts/HelveticaNeueLT-Roman.ttf") format("truetype"),
    url('../fonts/HelveticaNeueLT-Roman.svg') format('svg');
}
@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url("../fonts/HelveticaNeueLT-Light.eot");
    src: url("../fonts/HelveticaNeueLT-Light.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/HelveticaNeueLT-Light.woff") format("woff"), 
    url("../fonts/HelveticaNeueLT-Light.woff2") format("woff2"), 
    url("../fonts/HelveticaNeueLT-Light.ttf") format("truetype"),
    url('../fonts/HelveticaNeueLT-Light.svg') format('svg');
}
@font-face {
    font-family: 'Novecentosanswide-Bold';
    src: url("../fonts/Novecentosanswide-Bold.eot");
    src: url("../fonts/Novecentosanswide-Bold.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Novecentosanswide-Bold.ttf") format("truetype"),
    url('../fonts/Novecentosanswide-Bold.otf') format('truetype'),
    url('../fonts/Novecentosanswide-Bold.svg') format('svg');
}
@font-face {
    font-family: 'Parisienne-Regular';
    font-weight:100;
    src: url("../fonts/Parisienne-Regular.eot");
    src: url("../fonts/Parisienne-Regular?.eot#iefix") format("embedded-opentype"), 
    url("../fonts/Parisienne-Regular.ttf") format("truetype"),
    url('../fonts/Parisienne-Regular.woff') format('woff'),
    url('../fonts/Parisienne-Regular.woff2') format('woff2');
    letter-spacing: -0.01vh;
}
*, ::after, ::before {
    box-sizing: border-box;
}
html {
    padding: 0;
    margin: 0;
    font-family: 'HelveticaNeue-Light';
    color: #000000;
    font-size: 62.5%;
    overflow: hidden!important;
    padding-right: 8.4vh !important;
}
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 1.45rem
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Novecentosanswide-Bold';
    font-size: 6.5rem;
    color: #fff;
    letter-spacing:0.7vh;
}
h1.big {
    font-size: 12.4rem;
}
h2 {
    font-family: 'Novecentosanswide-Bold';
    font-size: 5.3rem;
    color: #fff;
    letter-spacing: 0.3vh;
}
h3{
    text-align: center;
    color: #000000;
    font-size: 4.2rem;
    font-family: 'Novecentosanswide-Bold';
    letter-spacing: 0.3vh;
}
h4 {
    font-size: 3.25rem;
    color: #000000;
    font-family: 'Novecentosanswide-Bold';
    text-align: center;
    letter-spacing: 0.25vh;
}
h5 {
    font-size: 2.35rem;
    font-family: 'Novecentosanswide-Bold';
    color: #000000;
    letter-spacing: 0.25vh;
}
h6 {
    font-size: 1.65rem;
    font-family: 'Novecentosanswide-Bold';
    color: #000000;
    letter-spacing: 0.25vh;
}
p {
    font-family: 'HelveticaNeue-Light';
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 1.45rem;
    letter-spacing: 0.25vh;
    line-height: 5vh;
}
p.small {
    font-size: 1.3rem;
}
p.little-small,
label {
    font-size: 1.2rem;
}
p.extra-small {
    font-size: 1.05rem;
}
.font-parisienne {
    text-align: center;
    color: #000000;
    font-family: 'Parisienne-Regular';
    font-weight: 100;
    letter-spacing: -0.01vh;
    line-height: 1;
}
ul,li {
    list-style: none;
    padding: 0;
    margin: 0;
    letter-spacing: 0.25vh;
}
a, 
a:hover,
a:focus,
a:visited{
    text-decoration:inherit;
    color: inherit;
    letter-spacing: 0.25vh;
}
a img {
    border: none;
  }
img {
    width: auto;
    height: auto;
}
[class*="col-"]{
    height: 100%;
    overflow: hidden;
}
.row {
    height: 100%;
    display: block;
    overflow: hidden;
}
.button {
    display: inline-block;
    font-family: 'HelveticaNeue-Light';
    border: 1px solid #000000;
    margin-top: 3.5em;
    background-color: #fff;
    transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    position: relative;
}
.button:before {
    content: "";
    background-color: #000000;
    width: 0%;
    position: absolute;
    left: 0;
    margin: auto;
    height: 100%;
    top: 0;
    transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
.button a {
    padding: 1.7vh 5vh;
    display: block;
    position: relative;
    z-index: 1;
}
.button:hover:before {
    content: "";
    background-color: #000;
    width: 100%;
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
}
.button:hover a {
    color: #fff;
    transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.only-mobile {
    display: none;
}
.content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    width:100%;
    z-index: 1;
}
.container {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100%;
}
.col-h-6 {
    height: 50%;
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
}
.navbar {
    width: 100%;
    position: absolute;
    height: 10.1vh;
    display: block;
    z-index: 10;
    overflow: hidden;
    transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    padding-top: 3.4vh;
}
.color1 {
    color: #23b2c2;
}
.color2 {
    color: #fdac57;
}
.full-image{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    height: 100%;
}
.full-image img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.navbar .navbar-icon {
    display: table;
    margin: auto;
    text-align: center;
    position: relative;
    width: 5.9vh;
    height: 100%;
}
.navbar .navbar-icon a {
    width: 5.9vh;
    height: 5.9vh;
    display: table-cell;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}
.navbar .navbar-icon a img {
    height: 5.6vh;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.navbar .navbar-icon a:hover img {
    animation: moveTheWave 1.7s linear infinite;  
	animation-fill-mode: both;
}
@keyframes moveTheWave {
  0% { transform: translate3d(0, 0, 0);}
  100% { transform: translate3d(-10.2vh, 0, 0); }
}
.navbar .navbar-icon object {
    height: 100%;
    padding: 0.85vh;
}
.navbar .navbar-icon svg {
    margin: 0 auto;
    overflow: hidden;
    display: block;
    position: relative;
    line-height: 10.2vh;
    height: 100%;
    cursor: pointer;
    z-index: 99;
}
.navbar ul {
    height: 100%;
    display: table;
    width: 100%;
}
.navbar ul li{
    color: #fff;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'HelveticaNeue';
    text-align: center;
    width: auto;
}
.navbar ul li.active a {
    border-bottom: 1px solid #fff;
    padding-bottom: 0.7vh;
}
.menu-responsive {
    display: none;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    width: 55%;
    top: 0;
    bottom: 0;
    left: -55%;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.menu-responsive.active {
    left: 0;
}
.menu-responsive img {
    width: 2.9vh;
    height: 2.9vh;
    position: absolute;
    margin-left: 2em;
    margin-top: 2em;
    background-size: cover;
}
.menu-responsive ul.menu {
    float: left;
    margin: 6em 2em 2em 2em;
}
.menu-responsive ul li {
    display: inline-block;
    height: auto;
    text-align: left;
    margin-bottom: 4vh;
}
#fp-nav.right {
    right: 0;
    margin-top: 0 !important;
    background-color: #252525;
    width: 8.5vh;
    height: 100%;
    top: 0;
    z-index: 9999;
}
#fp-nav .fp-nav__dot {
    position: absolute;
    top: 50%;
    left: 2vh;
    right: 2vh;
    transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    height: auto;
    padding: 2.5vh 0;
    border-top: dotted 1px #fff;
    border-bottom: dotted 1px #fff;
}
#fp-nav ul li .fp-tooltip {
    font-family: 'HelveticaNeue';
    opacity: 1;
    width: 100%;
    color: #000000;
    background-color: #fff;
    padding: 1.2vh 8.5vh 1.2vh 1.7vh;
    line-height: 1.3;
    position: relative;
    height: 100%;
    display: table;
    top: -3.7vh;
    text-align: left;
    float: right;
    z-index: 10;
    margin-top: -0.95vh;
    box-shadow: 0px 0px 3px rgba(3,3,3,0.5);
    cursor: pointer;
    max-width: 50px;
}
#fp-nav ul li .fp-tooltip:before {
    content:"";
    height: 1.6vh;
    width: 1.6vh;
    background-color: #000000;
    position: absolute;
    right: 2.7vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#fp-nav ul li .fp-tooltip.right {
    right: -84vh;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
#fp-nav ul li:hover .fp-tooltip, 
#fp-nav ul li.anim .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    right: -1.3vh;
}
#fp-nav ul li, 
.fp-slidesNav ul li {
    width: 100%;
    height: 4vh;
    padding: 0px 0px;
    margin: 0 auto;
    display: inline-block;
}
#fp-nav ul li a span, 
.fp-slidesNav ul li a span,
#fp-nav ul li:hover a span, 
.fp-slidesNav ul li:hover a span,
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    height: 1.7vh;
    width: 1.7vh;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #fff;
    background: transparent;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
}
#fp-nav .fp-nav__social {
    margin-top: 3.39vh;
}
#fp-nav .fp-nav__social img {
    width: 2.5vh;
    margin: 2.5vh auto;
    display: block;
    cursor: pointer;
}
#fp-nav .fp-nav__social ul li {
    height: 2.7vh;
    margin: 1vh auto;
}
#fp-nav .fp-nav__social ul li img {
    width: 2.7vh;
    margin: auto;
    display: block;
    cursor: pointer;
}
#fp-nav .fp-nav__social li:hover .fp-tooltip {
    right: 0.85vh;
}
#fp-nav .fp-nav__social ul li .fp-tooltip {
    margin-top: -0.015vh;
}
#fp-nav .fp-nav__social ul li .fp-tooltip p {
    font-family: inherit;
    line-height: 1.3;
}
#fp-nav .fp-nav__social ul li .fp-tooltip.right:before {
    height: 2.7vh;
    width: 2.7vh;
    background-color: transparent;
    position: absolute;
    right: 2.2vh;
    border-radius: 0%;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#fp-nav .fp-nav__social ul li .fp-tooltip.right.phone:before {
    background: url(../img/phone-hover.svg);
    background-repeat: no-repeat;
}
#fp-nav .fp-nav__social ul li .fp-tooltip.right.mail:before {
    background: url(../img/mail-hover.svg);
    background-repeat: no-repeat;
}
#fp-nav .fp-nav__social ul li .fp-tooltip.right.placement:before {
    background: url(../img/placement-hover.svg);
    background-repeat: no-repeat;
    top: 1.18vh;
    transform: translateY(-0%);
    -ms-transform: translateY(-0%);
    -moz-transform: translateY(-0%);
    -webkit-transform: translateY(-0%);
}
#fp-nav .fp-nav__arrow.arrow-top,
#fp-nav .fp-nav__arrow.arrow-bottom  {
    height: 5.9vh;
    overflow: hidden;
    transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
#fp-nav .fp-nav__arrow img {
    width: 2.2vh;
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 1.7vh;
    padding-bottom:1.7vh;
    cursor: pointer;
}
#fp-nav .fp-nav__arrow.inactive {
    height: 0px;
}


.title-center {
    margin-top: 10%;
    position: relative;
}
.title-center.title-margin-light {
    margin-top: 5%;
}
.title-center h3 {
    display: table;
    text-align: center;
    margin: auto;
    background-color: #fff;
    z-index: 1;
    position: relative;
    padding: 0vh 5.9vh;
}
.title-center h4 {
    z-index: 1;
    position: absolute;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0vh 5.9vh;
}
.title-center:before {
    content:"";
    height:0.17vh;
    width: 100%;
    background-color: #d0d0cf;
    position: absolute;
    top: 50%;
}
.title-center.in-section {
    position: relative;
    margin-top: 0%;
    margin-bottom: 3%;
}
.title-center.in-section h4{
    position: relative;
    left: auto;
    transform: inherit;
    padding: 0vh 5.9vh;
    text-transform: uppercase;
}
.title-center.in-section:before{
    content: "";
    height: 0.17vh;
    width: 1000%;
    background-color: #d0d0cf;
    position: absolute;
    top: 50%;
    left: -100%;
}


/* Top Header Section Page
* --------------------------------------- */
.header-img-page {
    width: 100%;
    height: 38vh;
    position: relative;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
}
.header-img-page img.background {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin: auto;
}
.header-img-page:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.header-img-page .header-title {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
    -webkit-transform: translateY(-60%);
    z-index: 4;
    margin: auto;
    text-align: center;
}
.content-header-img-page {
    position: absolute;
    top: 38vh;
    left: 0;
    right: 0;
}

/* Section 1
* --------------------------------------- */
#homepage_header-section .full-background {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    overflow: hidden;
}
#homepage_header-section .full-background img.background {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    transition: transform 5.2s linear, opacity 1.5s;
    -ms-transition: transform 5.2s linear, opacity 1.5s;
    -moz-transition: transform 5.2s linear, opacity 1.5s;
    -webkit-transition: transform 5.2s linear, opacity 1.5s;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    background-color: #fff;

}
#homepage_header-section .full-background img.background.active {
    opacity: 1;
    transform: scale(1.15);
}
#homepage_header-section .full-background:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
#homepage_header-section .header-title {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    z-index: 4;
    margin: auto;
    text-align: center;
}
#homepage_header-section .header-title h1 {
    line-height: 1;
}
#homepage_header-section .header-title h3:first-child{
    line-height: 1.2;
}
#homepage_header-section .header-title h3 {
    color: #fff;
    line-height: 2;
}
#homepage_header-section .header-title h3 span {
    font-family: 'HelveticaNeue-Light';
    line-height: 1;
}
#homepage_header-section .header-caption {
    position: absolute;
    bottom: 0%;
    width: 100%;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    height: 7em;
    z-index: 4;
}
#homepage_header-section .header-caption .caption-logo img{
    width: 70%;
}
#homepage_header-section .header-caption .caption-txt {
    border-left: 1px solid #fff;
    padding-left: 10%;
    height: 100%;
}
#homepage_header-section .header-caption .caption-txt p {
    color: #fff;
}
#homepage_header-section .header-caption .caption-icon {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 1.7vh;
}
#homepage_header-section .header-caption .caption-icon img{
    width: 7.6vh;
    float: right;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#homepage_header-section .header-caption .caption-icon img.anim {
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes bounce {
    0% {
        top: 50%;
    }
    50% {
        top: 40%;
    }
    100% {
        top: 50%;
    }
}

/* 
* --------------------------------------- */
#homepage_entreprise-section .card {
    width: 100%;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 1.8em;
}
#homepage_entreprise-section .card .card-unit {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}
#homepage_entreprise-section .card img {
    width: 24.5vh;
}
#homepage_entreprise-section .card h6 {
    margin-top: 1.7vh;
    font-family: 'HelveticaNeue';
}
#homepage_entreprise-section .card p {
    font-style: italic;
    padding: 0;
    margin: 0;
    margin-top: 0.3vh;
}

/* 
* --------------------------------------- */
#homepage_produits-section p{
    text-align: center;
    padding: 0% 15%;
    margin-top: 2em;
    margin-bottom: 0.5em;
}
#homepage_produits-section .caption-icon {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 10%;
    width: 9.3vh;
    height: auto;
}
#homepage_produits-section .caption-icon img{
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}
#homepage_produits-section .navbar-middle .navbar-icon {
    height: 10vh;
    width: 10vh;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 20;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#homepage_produits-section .navbar-middle .navbar-icon.color1 {
    background-color: #23b2c2;
}
#homepage_produits-section .navbar-middle .navbar-icon.color2 {
    background-color: #fdac57;
}
#homepage_produits-section .navbar-middle .navbar-icon object {
    margin: auto;
    display: block;
    height: 100%;
    padding: 2vh;
}
#homepage_produits-section ul {
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 48.5%;
    padding-left: 4%;
    padding-right: 4%;
    text-align: center;
}
#homepage_produits-section ul.pull-right {
    right: 0%;
}
#homepage_produits-section ul li{
    font-family: 'HelveticaNeue';
    color: #fff;
    text-align: center;
    display: inline-block;
    padding-right: 9%;
    position: relative;
}
#homepage_produits-section ul li:last-child {
    padding-right: 0;
}
#homepage_produits-section ul li a {
    padding-bottom: 0.85%;
    position: relative;
}
#homepage_produits-section ul li a:after {
    content: "";
    width: 0%;
    height: 0.3vh;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
#homepage_produits-section ul.color1 li a:after{
    border-bottom: 2px solid #23b2c2;
}
#homepage_produits-section ul.color2 li a:after{
    border-bottom: 2px solid #fdac57;
}
#homepage_produits-section ul li a:hover:after {
    content:"";
    width: 100%;
}

/* 
* --------------------------------------- */
#homepage_commentaires-section .commentaires-content p{
    position: relative;
    padding: 0% 5vh;
    color: #6e6c6c;
    font-style: italic;
}
#homepage_commentaires-section .commentaires-content p span.quote-open{
    background-image: url(../img/quote-open.png);
    width: 4.4vh;
    height: 3.2vh;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 1.7vh;
    background-size: cover;
}
#homepage_commentaires-section .commentaires-content p span.quote-close{
    background-image: url(../img/quote-close.png);
    width: 4.4vh;
    height: 3.2vh;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 1.7vh;
    background-size: cover;
}
#homepage_commentaires-section .commentaires-content h6{
    position: relative;
    padding: 0% 5vh;
    line-height: 2;
    font-style: italic;
}
#homepage_commentaires-section .commentaires-content .commentaires-name {
    color:#000000;
    margin-top: 5vh;
    font-family: 'HelveticaNeue';
}
#homepage_commentaires-section .note {
    width: auto;
    height: 100%;
    display: block;
    margin: auto;
    display: table;
}
#homepage_commentaires-section .note .note-star {
    background-image: url(../img/icon-star.png);
    position: relative;
    width: 3.7vh;
    height: 3.7vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin: 0% 0.85vh;
    margin-top: 3.3vh;
}

/* 
* --------------------------------------- */
#homepage_galerie-photo-section .galerie-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}
#homepage_galerie-photo-section .galerie-txt {
    height: 80%;
    width: 100%;
    position: relative;
    display: block;
}
#homepage_galerie-photo-section .galerie-txt h2{
    margin-bottom:0.3em;
    color: #000000;
}
#homepage_galerie-photo-section .galerie-slideshow {
    height: 30.5vh;
    width: 1000%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: left 12s linear;
    -ms-transition: left 12s linear;
    -moz-transition: left 12s linear;
    -webkit-transition: left 12s linear;
}
#homepage_galerie-photo-section .galerie-slideshow-item{
   float: left; 
   position: relative;
   height: 100%;
   width: auto;
}

#homepage_galerie-photo-section .galerie-slideshow-item img {
    height: 100%;
}




#produits_header-section p {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
#produits_header-section .ancre-to-fiche-produit a {
    display: block;
    position: relative;
    height: 22vh;
    overflow: hidden;
    margin-right: 2vh;
    margin-left: 2vh;
}
#produits_header-section .ancre-to-fiche-produit a:hover h4 {
    transform: scale(1.08)
}
#produits_header-section .ancre-to-fiche-produit img {
    width: 100%;
}
#produits_header-section .ancre-to-fiche-produit__titre{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#produits_header-section .ancre-to-fiche-produit__titre h4 {
    text-align: center;
    color: #fff;
    line-height: 1;
    transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
#produits_header-section .ancre-to-fiche-produit__titre h4 span {
    color: #fff;
}
#produits_fiches-produits-section .produits_fiches-produits__block {
    padding: 0% 5vh;
}
#produits_fiches-produits-section .produits_fiches-produits__img {
    height: 22vh;
    overflow: hidden;
    position: relative;
}
#produits_fiches-produits-section .produits_fiches-produits__img img {
    display: block;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#produits_fiches-produits-section h6 {
    text-align: left;
    text-transform: uppercase;
    padding: 2.5vh 0 1.8vh 0;
}
#produits_fiches-produits-section p {
    text-align: left;
    line-height: 4.85vh;
}



#contact_header-section p {
    text-align: center;
    margin-top: 5vh;
}
#contact_header-section .button {
    display: table;
    margin: 4vh auto 4vh auto;
}
#contact_formulaire-section form {
    margin: 3vh 0;
    display: block;
    overflow: hidden;
}
#contact_formulaire-section form .champs {
    margin: 1.35vh 0.85vh;
}
#contact_formulaire-section form .champs label {
    position: absolute;
    top: 4vh;
    font-family: 'HelveticaNeue-Light';
    color: #8f8c8c;
    padding: 0% 2vh;
    letter-spacing: 0.15vh;
    transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
#contact_formulaire-section form .champs label.active {
    top: 1.9vh;
    letter-spacing: 0vh;
    opacity: 0.7;
    font-size: 0.75em;
}
#contact_formulaire-section form .champs input {
    height: 8vh;
    border: 2px solid #e0e0df;
    width: 100%;
    padding: 2vh 1.5vh 1.1vh 1.5vh;
    font-family: 'HelveticaNeue-Light';
    letter-spacing: 0.15vh;
}
#contact_formulaire-section form .champs input[type=submit] {
    width: auto;
    float: right;
    background-color: #fff;
    height: auto;
    padding: 2vh 6vh;
    cursor: pointer;
    font-family: 'HelveticaNeue';
    color: #8f8c8c;
}
#contact_formulaire-section form .champs input:focus,
#contact_formulaire-section form .champs textarea:focus {
    outline: none;
}
#contact_formulaire-section form .champs p {
    display: inline-block;
    text-align: left;
    color: #8f8c8c;
    line-height: 1.1;
    letter-spacing: 0.15vh;
    font-style: italic;
    float: left;
}
#contact_formulaire-section form .champs textarea {
    height: 20vh;
    border: 2px solid #e0e0df;
    width: 100%;
    padding: 3vh 1.5vh;
    font-family: 'HelveticaNeue-Light';
    letter-spacing: 0.15vh;
}

#contact_map-section .map-iframe {
    position: relative;
    padding-bottom: 40%;
    height: 0;
}
#contact_map-section .map-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contact_notre-equipe-section .card{
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 5vh 0;
}
#contact_notre-equipe-section .card img {
    width: 100%;
    height: 100%;
    padding: 0 5vh;
}
#contact_notre-equipe-section .card h6 {
    text-align: left;
    font-family: 'HelveticaNeue';
}
#contact_notre-equipe-section .card h6 p {
    font-style: italic;
    display: inline-block;
}
#contact_notre-equipe-section .card p {
    text-align: left;
}



/* Footer
* --------------------------------------- */
#footer {
    background-color: #2e2e2f;
    padding-top: 4%;
    padding-bottom: 4%;
}
#footer h5 {
    color: #666666;
    text-transform: uppercase;
    margin-bottom: 3.9vh;
}
#footer ul li{
    font-family: 'HelveticaNeue-Light';
    color: #f5f5f5;
    padding-bottom: 2.8vh;
}
#footer ul li a {
    position: relative;
}
#footer ul li a:after{
    content: "";
    border-bottom: 1px solid #fff;
    width: 0%;
    position: absolute;
    bottom: -0.7vh;
    left: 0;
    transition: all 0.3s;
}
#footer ul li a:hover:after {
    width: 100%;
}
#footer p {
    color: #f5f5f5;
    line-height: 1.5;
}
#footer p.num {
    padding-bottom: 0%;
    padding-top: 2.5vh;
}
#footer p.mail {
    padding-top: 2.5vh;
}
#footer .mention-legale p{
    padding-bottom: 0;
    margin-top: 5vh;
}
#footer .social-share {
    margin-top: 1.3vh;
}
#footer .social-share li a {
    margin: auto;
    display: block;
    text-align: center;
}
#footer .social-share li a:after{
    display: none
}
#footer .social-share li img {
    margin: auto;
    display: block;
    height: 3.9vh;
}






